/* BARRA BUSQUEDA */

$widthBarra : 100%;
$paddingBarra : 5px;

$widthBoton: 100%;
$paddingBoton: 3px;
$paddingBotonL: 10px;
$paddingBotonR: 10px;
$bordeBoton: 2px double black;
$backgroundBoton: lightgray;

/* CARDS */

$widthCard : 280px;
$displayCard: flex;
$displayDirectionCard : column;
$cardHeaderAling: center;
$bloqueDisplay: flex;
