/* BARRA BUSQUEDA */

.input-search {
    width: 100%;
    padding: 5px;
}

.boton {
    width: 100%;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: black;
    background-color: lightgray;
    border-radius: 15px;
    border: 2px double black;
}