@import 'core/variables';

/* BARRA BUSQUEDA */

.input-search {
    width: $widthBarra;
    padding: $paddingBarra;
}

.boton {
    width: $widthBoton;
    text-decoration: none;
    padding: $paddingBoton;
    padding-left: $paddingBotonL;
    padding-right: $paddingBotonR;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: black;
    background-color: $backgroundBoton;
    border-radius: 15px;
    border: $bordeBoton;
}