/* EXTRAS */

.logo {
    width: 50px;
    height: auto;
}

.textoCentrado {
    text-align: center;
    margin: 5px;
}

.container {
    padding: 80px 0;
}

.team figure {
    display: block;
    position: relative;
    max-width: 320px;
}

.team>figure:last-child {
    margin-bottom: 0;
}

.team figure figcaption {
    padding-top: 15px;
    text-align: center;
}

.team figure figcaption * {
    margin: 0;
    line-height: 1;
}

.team figure figcaption .heading {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.team figure figcaption em {
    display: block;
    font-size: .8rem;
    font-style: normal;
}

.team figure figcaption footer {
    margin-top: 15px;
}

.team figure figcaption footer .faico li {
    margin: 0 5px;
}

.team figure figcaption footer .faico li a {
    width: auto;
    height: auto;
    line-height: normal;
    font-size: 14px;
}

.sidebar .sdb_holder {
    margin-bottom: 50px;
}

.sidebar .sdb_holder:last-child {
    margin-bottom: 0;
}

*,
*::before,
*::after {
    transition: all .28s ease-in-out;
}

#mainav form * {
    transition: none !important;
}

nav ul,
nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainav,
.sidebar nav {
    line-height: normal;
}

#mainav .drop::after,
#mainav li li .drop::after,
.sidebar nav a::after {
    position: absolute;
    font-family: "FontAwesome";
    font-size: 10px;
    line-height: 10px;
}