/* DIFERENTES SECTIONS WEB */

.row1 {
    color: #474747;
    background-color: #FFFFFF;
}

.row2 {
    color: #474747;
    background-color: #FAFAFA;
}

.row3 {
    color: #474747;
    background-color: #FFFFFF;
}

.row4 {
    color: #CBCBCB;
    background-color: #33363B;
}

.row5,
.row5 a {
    color: #CBCBCB;
    background-color: #2B2F32;
}